body {
    /* clear default browser style */
    margin: 0;

    /* required by MoveMaster.js */
    position: relative;

    /* protection to get non-scrolling area */
    overflow: hidden;
}

img {
    /* required by MoveMaster.js */
    position: relative;

    /* better painting */
    width: 300px;
    height: 200px;
}
