body {
    /* required by MoveMaster.js */
    position: absolute;

    /* protection to get non-scrolling area */
    overflow: hidden;
}

div.img {
    /* required by MoveMaster.js */
    position: relative;

    /* to see something */
    width: 200px;
    height: 100px;
    background: url('http://fakeimg.pl/200x100');

    /* to put somewhere image */
    top: 50px;
    left: 100px;
}
