body {
    /* required by MoveMaster.js */
    position: absolute;

    /* protection to get non-scrolling area */
    overflow: hidden;
}

img {
    /* required by MoveMaster.js */
    position: relative;
}
