body {
    /* protection to get non-scrolling area */
    overflow: hidden;
}

div.picture {
    /* to see something */
    width: 200px;
    height: 100px;
    background: url('https://fakeimg.pl/200x100');

    /* to put image somewhere */
    top: 50px;
    left: 100px;
}
