@charset "utf-8";

body {
    /* clear default browser style */
    margin: 0;

    /* required by MoveMaster.js */
    position: relative;
}

img {
    /* required by MoveMaster.js */
    position: absolute; left: 0; top: 0;
}
